<phpunit
        bootstrap="../../plugins/oik-batch/oik-wp.php"
        backupGlobals="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <!-- for PHPUnit 9.6 -->
    <testsuites>
        <testsuite name="gbcptedit">
            <directory prefix="test-" suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>